body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body.theme-blue {
  --primary-color: #3B82F6;
  --primary-light: #60A5FA;
  --primary-dark: #2563EB;
  --background: #EFF6FF;
}

body.theme-pink {
  --primary-color: #EC4899;
  --primary-light: #F472B6;
  --primary-dark: #DB2777;
  --background: #FCE7F3;
}

body.theme-yellow {
  --primary-color: #F59E0B;
  --primary-light: #FBBF24;
  --primary-dark: #D97706;
  --background: #FEF3C7;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

